<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uwm.android.diabetes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hearticon"
        android:label="Diabetes"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SplashActivity"
            android:label="Splash screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ExerciseActivity"
            android:label="@string/activity_Exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.MedicineActivity" />
        <activity android:name=".Activities.RemindersActivity" />
        <activity android:name=".Activities.GraphActivity" />
        <activity android:name=".Activities.StatisticsActivity" />
        <activity android:name=".Activities.RegimenActivity"></activity>
    </application>

</manifest>